body{
  font-family:"Helvetica","Univers","Helvetica Neue",arial,helvetica,sans-serif;
  font-size:22px;
  color:#808080;
}
a{color:steelblue;
}
input {
  -moz-border-radius: 5px;
  border-radius: 5px;
}